/* App.css or global CSS file */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex: 1;
}
